.root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  display: grid;
  place-content: center;
  color: #61dafbaa;
}

.form {
  margin: 10px 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.success {
  color: #6ce06c
}